# BEGIN WordPress
# Rivit, jotka ovat "BEGIN WordPress" ja "END WordPress" välissä on luotu dynaamisesti ja niitä tulee muokata vain WordPressin filttereillä. Kaikki manuaaliset muutokset riveihin tullaan yliajamaan.

# END WordPress

# Increase Max Upload Size

php_value upload_max_filesize 64M
php_value post_max_size 64M
